#all {
    padding-top: 70px;
}

.navbar .nav {
    padding: 15px 0;
}

.navbar .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    #all {
        padding-top: 100px;
    }

    .navbar .navbar-brand {
        padding: 15px 0;
    }
}